#Environments
FlaskApp/venv/
FlaskApp/FlaskApp/venv/
#.py files
*.pyc
FlaskApp/FlaskApp/credentials/mysql_credentials.py
/FlaskApp/run.py
#folders
*.egg-info/
FlaskApp/FlaskApp/__pycache__/
#files
*.wsgi
