{% extends 'layout.html' %}

{% block body %}
    <h1>About</h1>
    <p>How, What and Why? This section provides an explanation!</p>

    <h2>How?</h2>
    <p>The application was written using Python and the micro webframework Flask.
        It is connected to a MySQL database instance.
        The application requires minimal effort to run locally.
        Please read the README.md file on the <a href="https://github.com/JesseSchouten/dashboard" target="_blank">github page</a>.
        Feel free to contact me at jesse.schouten@outlook.com if you have any questions.
    </p>

    <h2>What?</h2>
    <p>
        Anyone can create an account using the register button, after which they can log in to the system.
        When logged in to the system, users can obtain insight to the available dashboards, and easily write documentation.
        Accounts only have 'user' rights by default, which prohibites new users from seeing new dashboards.
        'admin' rights can be requested by the owner of the application.
    </p>

    <h2>Why?</h2>
    <p>For educational purposes and fun.
        During this project I followed some basic HTML and CSS courses, as well as Flask tutorials.
        This consisted of a mix of online blogs, articles and youtube tutorials.
        Priorly, I had several years of experience in Python and MySQL, which I combined with this new knowledge to come up with this template.
        The template may prove usefull to people who want to create dashboards/data visualizations for personal or business purposes.
    </p>
{% endblock %}
